:root {
    --form-element-height: 30px;
}

.new-todo-form {
    margin-top: 3.5rem;
}

.new-todo-input {
    width: 50vw;
    height: var(--form-element-height);
    margin-right: 4.5px;
}

.new-todo-button {
    height: var(--form-element-height);
    width: 10vw;
}
